<div class="container-fluid breakfast-section largepadding dark belownav">
	<h1 class="white house-icon">Breakfast</h1>
	<h3>Breakfast at Sheevy's Bed and Breakfast is the start of a new day, a celebration.</h3>
</div>

<div class="side-by-side-example">
	<div class="row d-flex h-100">
		<div class="col-sm-6 nopadding">
			<%= image_tag "egg.jpg" %>
		</div>
		<div class="col-sm-6 justify-content-center align-self-center" style="padding: 30px">
			<p>With smiles, we serve a delicious breakfast. It starts with brewed coffee, herbal and breakfast teas, wonderfully awakening juices and fresh tropical fruits to get you ready for the main course. Most of these are picked from our backyard garden.</p>
			<p>For each meal we create wonderfully seasoned egg dishes as well as a vegetable side and sometimes we serve our home made bread occasionally accented by tasty breakfast meats.</p>
			<p>Sometimes we switch things up and prepare French toast, pancakes or our local delicacy katogo.</p>
			<p>Not a breakfast eater? We may convert you.</p>
			<p>However, if you would prefer something different please let us know we can make it happen.</p>
			<p>It is our delight to start each day with our guests preparing for you a celebration and a break of your slumbering fast.</p>
		</div>
	</div>
</div>

<div class="side-by-side-example">
	<div class="row d-flex h-100">
		<div class="col-sm-6 justify-content-center align-self-center" style="padding: 30px">
			<p>We know some people don’t like to talk much in the morning, so we offer a group table as well as individual dining arrangements in our lovely garden.</p>
			<p>Our breakfast is served between 7:00 and 10:00a.m daily.</p>
			<p>For business travellers and early risers we can abbreviate your meal and or customise departure times. It’s all about our guests.	</p>
		</div>
		<div class="col-sm-6 nopadding">
			<%= image_tag "fruits.jpg" %>
		</div>
	</div>
</div>