<!-- LOCATION -->
<div class="container-fluid location-section largepadding dark belownav" id="location">
	<h1 class="white">Location</h1>
	<h3>Sheevys is about 10 minutes from both the Fort Portal town. There are markets, supermarkets   restaurants, a golf course and gyms close by.</h3>
	<p class="greydescription">Google Map</p>

	<div class="map-responsive">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d498.69738184958993!2d30.263039035764688!3d0.6274849638796907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1763d0c564cbfa2d%3A0xb20e45f3a713c552!2sSheevy&#39;s+Bed+%26+Breakfast!5e0!3m2!1sen!2sug!4v1521737815793" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>