<!-- ROOMS BODY -->


<!-- ROOMS SECTION -->
<div class="container-fluid rooms-section largepadding dark belownav" id="rooms">
	<h1 class="white house-icon">The Rooms</h1>
	<!-- fa_icon "home"  -->
	<h3>Accomodation at Sheevys BNB</h3>
	
	<p class="greydescription">1 Deluxe Room | 1 Standard Double Room | 1 Twin Room | 1 Standard Single Room</p>

	<p class="greydescription"><strong>All rooms have wireless internet access</strong></p>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>DELUXE ROOM</h2>  		
			<p>Our exquisite and spacious: Deluxe room is fitted with a Queen Size bed and an ensuite bathroom. The room prides in complimentary coffee station, built in reading table, inbuilt wardrobe, and bottled drinking water. The room has a view of our fine-looking garden.</p>
			<p>We can give it as a Triple with an added single bed at an extra cost.</p>	
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/deluxe1.jpg" %>
		</div>
	</div>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>STANDARD DOUBLE ROOM</h2>
			<p>A Queen Size bed with a floor rug to ensure our guests comfort and warmth. The room has an ensuite spacious bathroom, fitted wardrobe, reading table and bottled water.</p>
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/standard_double1.jpg" %>
		</div>
	</div>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>SINGLE ROOM</h2>
			<p>The room has a Single Bed which is however, big enough to be shared at an extra charge. It prides with an ensuite spacious bathroom, reading table and a wardrobe.</p>
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/single1.jpg" %>
		</div>
	</div>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>TWIN ROOM</h2>
			<p>Our twin room has two single beds which are very comfy. It also has a fitted reading table, wardrobes complimentary bottled drinking water. Its spacious and elegant bathroom is not ensuite.</p>
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/twinroom.jpg" %>
		</div>
	</div>
</div>

