<!-- ROOMS BODY -->


<!-- ROOMS SECTION -->
<div class="container-fluid rooms-section largepadding dark belownav" id="rooms">
	<h1 class="white">The Rooms</h1>
	<h3>We offer the best Rooms with a wide array of complimentary wonders</h3>
	
	<p class="greydescription">The rooms are just as remarkable as the shared areas. Tile floors / carpeted floor support comfortable warm beds and each room boasts a walk-in shower with both warm and cold water.</p>

	<p class="greydescription">King Queen and Twin beds are available. Rooms, tiled/-carpet heating,tea/coffee stations in Deluxe Room, free, wireless internet access.</p>

</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>DELUXE ROOM</h2>  		
			<p>Our lovely spacious room with a king size bed and an ensuite bathroom. The room has the view of our beautiful garden.</p>	
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/deluxe1.jpg" %>
		</div>
	</div>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>STANDARD DOUBLE ROOM</h2>
			<p>Has a queen size bed have an en-suite spacious bathroom a reading table and in built wardrobes</p>
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/standard_double1.jpg" %>
		</div>
	</div>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>SINGLE ROOM</h2>
			<p>Has one single bed but can be shared. Also has a spacious en-suite bathroom.</p>
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/single1.jpg" %>
		</div>
	</div>
</div>
<!-- ...room photo and details -->
<div class="room-example">
	<div class="row d-flex h-100">
		<div class="col-sm-4 justify-content-center align-self-center" style="padding: 30px">
			<h2>TWIN ROOM</h2>
			<p>Has two single comfortable beds but can be shared with a reading table in built wardrobe. A very spacious bathroom but not en-suite</p>
		</div>
		<div class="col-sm-8 nopadding">
			<%= image_tag "rooms/twin.jpg" %>
		</div>
	</div>
</div>

