<div class="container-fluid specials-section largepadding dark belownav">
	<h1 class="white house-icon">Specials</h1>
	<h3>We've got a few special things just for you</h3>
</div>

<div class="container section-padding">
	<div class="row d-flex h-100 specials-row">
		<div class="col-sm-4">
			<%= image_tag "gift_certificate.jpg" %>	
		</div>
		<div class="col-sm-8 justify-content-center align-self-center" style="padding: 30px">
			<h3>Gift Certificate</h3>
			<p>This is a perfect gift to indulge yourself or your loved ones available in any denomination call email or stop by to purchase.</p>
		</div>
		<div class="col-sm-4">
			<%= image_tag "weekend.jpg" %>	
		</div>
		<div class="col-sm-8 justify-content-center align-self-center" style="padding: 30px">
			<h3>Weekend Getaway</h3>
			<p>Sweep your lover off their feet with a romantic getaway. This includes breakfast for two a bottle of wine in your room desserts before bed.</p>
		</div>
		<div class="col-sm-4">
			<%= image_tag "egg.jpg" %>	
		</div>
		<div class="col-sm-8 justify-content-center align-self-center" style="padding: 30px">
			<h3>Mouth watering breakfast</h3>
			<p>Take your family or friends for a Sheevys breakfast experience. Our home made breakfast with surprises for children</p>
			<p>
				<%= link_to 'See Breakfast Options', breakfast_path %>
			</p>
		</div>
	</div>
</div>